# IntelliJ
.idea/
*.iml

# Build output
out/
build/
target/

# Log files
*.log

# Temporary files
*.tmp

# Package files
*.jar
*.war
*.ear

# Maven
.mvn/
mvnw
mvnw.cmd

# Gradle
.gradle/
gradle/
gradlew
gradlew.bat

# Other
commit_message.txt
hs_err_pid*
